{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <div class="body">
        <p>This is a very simple Flask Application example that calls some APIs.</p>
    </div>

    <div class="body apis-list">
        <p>Kudos to the APIs we have used in this little project:<br> </p>
        <table class="mui-table mui-table--bordered">
            <thead>
            <tr>
                <th>Button</th>
                <th>API</th>
                <th>Website</th>
                <th>Comment</th>
            </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>Pokemon</td>
                        <td>PokéAPI</td>
                        <td class="bodysmall"><a href="https://pokeapi.co/">https://pokeapi.co/</a></td>
                        <td>Provides a RESTful API interface to highly detailed objects built from thousands of lines of data related to Pokémon</td>
                    </tr>
                    <tr>
                        <td>Anime list</td>
                        <td>Jikan</td>
                        <td class="bodysmall"><a href="https://jikan.moe/">https://jikan.moe/</a></td>
                        <td>Jikan (時間) is an open-source PHP & REST API for MyAnimeList.net. It parses the website to satisfy the need for an API.</td>
                    </tr>
                </tbody>
        </table>
    </div>
{% endblock %}

