{% extends "base.html" %}

{% block content %}
    <h1 style="background: #6e91de">Home</h1>
    <div style="text-align: left;">
        <p>This is a very simple Flask Application example.</p>
    </div>

    <div name="choose_a_rating_for_the_picture" style="margin-left: 15px;">
        <div>
            <br>
            <hr style="height: 2px">
            <p>Here is a Mark Rothko painting:</p>
            <img src="../static/img/Mark%20Rothko%20fg01.jpg" style="height: 150px;" alt="">
        </div>
        <div>
            <br>
            <form action="" method="POST" style="background:#b2c8f6">
                <p><strong>Enter a rating for this picture (1-5).</strong></p>
                <input name="rating" type="number" min="1" max="5"
                       placeholder="<Rating (ex: 1)>" required>
                <select name="heard_of" required>
                    <option value="" selected>&lt;Select an action&gt;</option>
                    <option value="add_to_card">Add to card</option>
                    <option value="add_to_wish_list">Add to wish list</option>
                    <option value="add_to_gift">Add to gift for friend</option>
                </select>
                <button style="background:#69c127">Submit</button>
            </form>
        </div>
        <div>
            <ul>
                <li>5 Stars: *****</li>
                <li>4 Stars: ****</li>
                <li>3 Stars: ***</li>
                <li>2 Stars: **</li>
                <li>1 Star:  *</li>
            </ul>
        </div>
        <hr style="height: 2px">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="../static/js/form_hook.js"></script>
    </div>
{% endblock %}
