{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <div class="body">
        <p>This is a very simple Flask Application example.</p>
    </div>

    <div class="choose-a-rating-for-the-picture">
        <div class="body">
            <br>
            <hr style="height: 2px">
            <p>Here is a Mark Rothko painting:</p>
            <img src="../static/img/Mark%20Rothko%20fg01.jpg" style="height: 150px;"
                 alt="Mark Rothko painting">
        </div>
        <div class="body">
            <br>
            <form class="form-ranking" action="" method="POST" style="background:#b2c8f6">
                <p><strong>Enter a rating (1-5) and an action for this picture.</strong></p>
                <input name="picture_rating" type="number" min="1" max="5"
                       placeholder="<Rating (ex: 1)>" required>
                <select name="picture_action" required>
                    <option value="" selected>&lt;Select an action&gt;</option>
                    <option value="add_to_card">Add to card</option>
                    <option value="add_to_wish_list">Add to wish list</option>
                    <option value="add_to_gift">Add to gift for friend</option>
                </select>
                <button class="submit-ranking">Submit</button>
            </form>
        </div>
        <div id="rankings-list" class="body rankings-list">
            <ul>
                <li>5 Stars: *****</li>
                <li>4 Stars: ****</li>
                <li>3 Stars: ***</li>
                <li>2 Stars: **</li>
                <li>1 Star:  *</li>
            </ul>
        </div>
        <hr style="height: 2px">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="../static/js/form_hook.js"></script>
    </div>
{% endblock %}
